<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060872403032-ordjadbg5jgbug1dqebee8dics5537af.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060872403032-ordjadbg5jgbug1dqebee8dics5537af</string>
	<key>API_KEY</key>
	<string>AIzaSyCCCwXJqEaC-ZaG8CrHTzJx3m1MHJzpy_k</string>
	<key>GCM_SENDER_ID</key>
	<string>1060872403032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.iug.volunteerWorkApp</string>
	<key>PROJECT_ID</key>
	<string>volunteerworkapp</string>
	<key>STORAGE_BUCKET</key>
	<string>volunteerworkapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060872403032:ios:443d3372613e97a96eb22d</string>
</dict>
</plist>